body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 1em;
  margin: 0 0 0.5em;
  padding: 0.5em;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #aaaaaa;
  border-radius: 1px;
  border: 1px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 0px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b7b7b7;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #aaaaaa;
  border-radius: 1px;
  border: 1px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 0px;
  background: #333333;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #9d9d9d;
  border: 1px solid rgba(1, 1, 1, 0);
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #aaaaaa;
  border: 1px solid rgba(1, 1, 1, 0);
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 0px;
  background: #333333;
  cursor: pointer;
  height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #aaaaaa;
}
input[type=range]:focus::-ms-fill-upper {
  background: #b7b7b7;
}

#trial {
  width: 410px;
  text-align: center;
  margin: 0 auto;
}

.intro {
  padding: 20px 0;
  color: #F05843;
  background-color: #f7f7f7;
  font-weight: bold;
}

.model {
  position: relative;
}

.play {
  position: absolute;
  top: 8px;
  left: 8px;
}

.model__label {
  position: absolute;
  padding: 2px 4px;
  color: #000000;
  background-color: rgba(255,255,255,0.7);
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
}

.model__label--air {
  top: 66px;
  left: 90px;
}

.model__label--cup {
  top: 106px;
  left: 28px;
}

.model__label--liquid {
  top: 204px;
  left: 99px;
}
